body {
  font-family: 'Ubuntu', bold;
  position: relative;
  
}
.header_bar {
  display: inline;
  position: relative;
}
.header_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.header_bar li {
  float: left;
}

.header_bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.header_bar li a:hover {
  background-color: #111;
}
.navigation_bar {
    display: flex;
    flex-wrap: wrap;
}
.navigation_bar img {
    
    justify-content: right;
}
  .padding {
      padding: 20px;
  }
  .sidebar {
margin: 0;
padding: 0;
width: 250px;
background-color: #f1f1f1;
position: absolute;
height: 100%;

}
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
.sidebar a.active {
  color: white;
}
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
  
}
div.content {
  margin-left: 250px;
  padding: 1px 16px;
  height: 1000px;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  width: auto;
  border-radius: 4px;
 background-color: rgb(179, 245, 239);
  border: 3px solid #f1f1f1;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
#hint {
  display: none;
  position:absolute;
  border:1px solid #ccc;
  padding:5px;
  background:grey;
  border-radius:5px;
}
.loginbtn{
  width: auto;
  padding: 10px 18px;
  background-color: #6cf436;
}
.dropout{
  display: none;
  position: absolute;
  margin-top: 47px;
  margin-left: 90px;
  width: 120px;
  padding-left: 0px;
 text-align: center;
  background-color:#333;
  height: 185px;
  z-index: 99;
  list-style: none;
  text-decoration: none;
}
.dropout li{
  height: 30px;
  border: solid;
  border-bottom: 0px;
  border-color: white;
  border-width: 1px;
}
.dropout li a{
  color: white;
  text-decoration:none;
}
.dropout li:hover{
  background-color: black;
}
.dropout.dropout_active{
  display: block;
  z-index: 99999;

}
.hover{
  height: 200px;
  width: 140px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.hover:hover{
  height:210px;
  width: 150px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  
}

.cinema{
  display: flex;
    flex-wrap: wrap;
}
.cinema img{
width: 300px;
border-style: solid;
border-color: #f1f1f1;
border-width: 3px;
}
div.cincon{
  margin-left: 260px;
  padding: 1px 16px;
  height: 80%;
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  
}
.time{
  background-color: white;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 3px;
  height: 40px;
} 


#tooltip {
  z-index: 9999;
  position: absolute;
  display: none;
  top:0px;
  left:0px;
  width: 250px;
  background-color: #fff;
  padding: 5px 10px 5px 10px;
  color: #000;
  border: 1px solid #888;
  border-radius: 5px; 
  box-shadow: 0 1px 2px #555;
  box-sizing: border-box;
}
  /*----HINTING----*/

/* Full-width input fields */
input[type=text], input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

/* Set a style for all buttons */
button {
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}

button:hover {
opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
width: auto;
padding: 10px 18px;
background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
text-align: center;
margin: 24px 0 12px 0;
position: relative;
}

img.avatar {
width: 40%;
border-radius: 50%;
}

.container {
padding: 16px;
}

span.psw {
float: right;
padding-top: 16px;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
border: 1px solid #888;
width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
position: absolute;
right: 25px;
top: 0;
color: #000;
font-size: 35px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: red;
cursor: pointer;
}

/* Add Zoom Animation */
.animate {
-webkit-animation: animatezoom 0.6s;
animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
from {-webkit-transform: scale(0)} 
to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
from {transform: scale(0)} 
to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
span.psw {
   display: block;
   float: none;
}
.cancelbtn {
   width: 100%;
}
}
.newcontent{
  margin-left: 250px;
  padding: 1px 16px;
  height: 1000px;
  width: auto;
  align-items: flex-start;
  

} 
.newhover{
    height: 400px;
    width: 280px;
    margin-top: 15px;
    margin-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.newhover:hover{
  height: 410px;
  width: 290px;
  margin-top: 10px;
  margin-bottom: 95px;
  margin-left: 5px;
  margin-right: 5px; 
}
.newol li{

height: 500px;
float: left;
width: auto;

}
.tble{
  text-decoration: none;
  color:black;
  margin-left: 250px;
  margin-right: 400px;
  transform: translateY(10%);
  background-color: rgb(221, 244, 248);
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border: solid;
  border-color: rgb(197, 227, 255);
  border-radius: 6px;
}
.td tr td{
  border: solid;
  border-radius: 3px;
  border-color: lightcyan;
  background-color: rgb(213, 245, 255);
  text-align: center;
  height: 40px;
  width: 50px;
}
.td tr td:hover{
background-color: lightgrey;
border-color: white;
}
.td tr td:visited{
  color: white;
  background-color: black;
  border-color: lightgrey;
  }
 